/**
  * @name Calico
  * @author Calico#3787
  * @version Calico V1
  * @description Highly customized dark and blue hue theme for Discord
  * @authorId 53259864956211200
  * @authorLink https://www.ffxivvenues.com
  * @source None!
  * @website N/A
  * @invite N/A
*/

@import url('https://github.com/ItsJustCalico/discordthemecss/edit/main/Calci-edit.css');

:root {
  --darkplus-bg: #1a1a1a;
  --darkplus-bg2: #262626;
  --darkplus-sec: #6699ff;
  --darkplus-links: ##3333ff;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/952946227748679702/1006379519202041856/discord.png);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

